# http://EditorConfig.org

# This is the top-level directory,
# don't look for ../.editorconfig
# any further.
root = true

[*]
charset = utf-8

# Indentation.
indent_style = space
indent_size = 2

# Whitespace handling.
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
