<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <!-- <base href="/"> -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Today</title>

    <!-- Angular.js -->
    <script src="vendor/angular.js"></script>
    <script src="vendor/angular-route.js"></script>
    <script src="vendor/angular-sanitize.js"></script>
    <script src="vendor/angular-resource.js"></script>

    <!-- Bootstrap -->
    <!-- http://getbootstrap.com/getting-started/ -->
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap-theme.css">

    <!-- Bootstrap components rewritten in Angular.js -->
    <!-- http://angular-ui.github.io/bootstrap -->
    <script src="vendor/ui-bootstrap-tpls.js"></script>

    <!-- Directives -->
    <script src="directives/directives.js"></script>
    <script src="directives/menu.js"></script>
    <script src="directives/menu.html" id="directives/menu.html" type="text/ng-template"></script>

    <!-- The app -->
    <script src="app.js"></script>
    <script src="data.js"></script>
    <link rel="stylesheet" href="styles.css">
  </head>

  <body>
    <div class="col-md-5" ng-controller="TasksCtrl">
      <h1>{{today | date:'EEEE M/d/yyyy'}}</h1>

      <!-- Fixed time tasks. -->
      <ul class="fixed-time">
        <li toggle-finished-class ng-repeat="task in tasks.fixedTime" menu max-items="10">
        <!-- ng-class="task.finished && 'finished'" -->

          <!-- Display. -->
          <span class="display-area">
            <label>
              <input type="checkbox" ng-model="task.finished" />
              <strong>{{task.time}}</strong>
              <span ng-model="task.title" xxx data-inspect="display"></span>
            </label>

            <!-- This will get populated by the menu directive. -->
            <span class="menu"></span>
          </span>

          <!-- Edit. -->
          <span class="editable-area">
            <input type="checkbox" ng-model="task.finished" />
            <span class="editable" contenteditable>
              <strong>{{task.time}}</strong>
              <span ng-model="task.title" xxx data-inspect="editable"></span>
            </span>
          </span>
        </li>
      </ul>


      <!-- Important tasks. HAS to be finished. -->
      <ul class="important-tasks">
        <li ng-class="task.finished && 'finished'" contenteditable ng-repeat="task in tasks.important">
          <label>
            <input type="checkbox" ng-model="task.finished" />
            <span ng-model="task.title"></span>
          </label>
        </li>
      </ul>

      <!-- Errands. Not that important. -->
      <ul class="urgencies" contenteditable>
        <li ng-class="task.finished && 'finished'" ng-repeat="task in tasks.urgencies">
          <label>
            <input type="checkbox" ng-model="task.finished" />
            <span ng-model="task.title"></span>
          <label>
        </li>
      </ul>

      <h2>Notes</h2>
      <p>
        <em>Any reflections? Ideas about tomorrow?</em>
      </p>

      <div contenteditable>
        I got distracted by an idea and it took me a while to get back on track with the rest of the day.
      </div>
    </div>

    <div class="col-md-4" ng-controller="HabitsCtrl">
      <h1>Habits</h1>

      <div class="habit-group" ng-class="groupFinished() && 'finished' || groupActive() && 'active'" ng-repeat="group in groups">
        <h3>{{group.title}}</h3>
        <ul>
          <li ng-class="habit.finished && 'finished'" ng-repeat="habit in group.habits">
            <label>
              <input type="checkbox" ng-model="habit.finished" /> {{habit.title}}<span ng-show="habit.link"> [<a ng-href="{{habit.link}}">link</a>]</span>.
            </label>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-3" ng-controller="TomorrowCtrl">
      <h1>Tomorrow</h1>
      <p contenteditable><em>Tasks? Appointments? Ideas?</em><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /></p>
    </div>
  </body>
</html>
