ul { list-style: none; padding-left: 0; }
label { font-weight: normal; }

/* Tasks */
.fixed-time { background-color: #FFCCCC; }
.important-tasks { background-color: #FFE0C2; }
.urgencies { background-color: #B2FFB2; }

/* Habits */
.active { background-color: #FFCCCC; }
.finished { color: lightgray; }

/* Editing */
.editable-area { border: solid 5px #D31444; }
.editable { width: 700;} /* TODO: This doesn't work. */
